<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.94.2" targetFramework="net461" />
  <package id="CommandLineParser19" version="1.9.74" targetFramework="net461" />
  <package id="DocumentFormat.OpenXml" version="2.10.0" targetFramework="net461" />
  <package id="ExcelNumberFormat" version="1.0.8" targetFramework="net461" />
  <package id="FastMember" version="1.5.0" targetFramework="net461" />
  <package id="FastMember.Signed" version="1.5.0" targetFramework="net461" />
  <package id="NLog" version="4.6.8" targetFramework="net461" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.Packaging" version="4.7.0" targetFramework="net461" />
</packages>